.button-p {
  position: relative;
  width: auto;
  color: $dark-gray;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  border: none;
  background: $cream;
  text-align: center;
  padding: 0.5em 1em;
  font-size: 1rem;

  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  transition: all 0.1s;

  -webkit-box-shadow: 0px 6px 0px darken($cream, 30%);
  -moz-box-shadow: 0px 6px 0px darken($cream, 30%);
  box-shadow: 0px 6px 0px darken($cream, 30%);
  &:active {
    -webkit-box-shadow: 0px 2px 0px darken($cream, 30%);
    -moz-box-shadow: 0px 2px 0px darken($cream, 30%);
    box-shadow: 0px 2px 0px darken($cream, 30%);
    position: relative;
    top: 4px;
  }
}

.button-s {
  @extend .button-p;
  background: $orange;
  -webkit-box-shadow: 0px 6px 0px darken($orange, 30%);
  -moz-box-shadow: 0px 6px 0px darken($orange, 30%);
  box-shadow: 0px 6px 0px darken($orange, 30%);
  &:active {
    -webkit-box-shadow: 0px 2px 0px darken($orange, 30%);
    -moz-box-shadow: 0px 2px 0px darken($orange, 30%);
    box-shadow: 0px 2px 0px darken($orange, 30%);
  }
}

.button-img {
  background-color: transparent;
  border: none;
  &:hover {
    cursor: pointer;
  }
  img {
    height: 100px;
    width: 100px;
  }
}

.image-button-container {
  display: flex;
  justify-content: center;
  padding-top: 1em;
  width: 100%;
  .button-img-disabled {
    background-color: transparent;
    border: none;
    &:hover {
      cursor: default;
    }
    img {
      height: 100px;
      width: 100px;
      opacity: 0.6;
    }
  }
}
