@import "./colors";

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin background($color) {
  background-image: url(../../images/grain.png);
  background-color: $color;
}

@mixin paperColor {
  background-color: #fcfcf8;
  box-shadow: inset 0 0.75rem 2rem rgba(229, 225, 187, 0.5);
}
