@import "../login";

.add-blog-section {
  width: 80%;
  height: 100vh;
  @include center;
}

.add-blog {
  @include paperColor;
  color: $dark-gray;
  padding: 2em;
  &__header {
    text-align: center;
  }
}

.blog-form {
  width: 500px;
  &__input {
    margin-top: 2em;
    @include input;
  }
}

@media screen and (max-width: 960px) {
  .add-blog-section {
    width: 100%;
    align-items: flex-start;
    padding-top: 2em;
  }
}

@media screen and (max-width: 610px) {
  .add-blog {
    padding: 1em;
  }
  .blog-form {
    width: 350px;
  }
}
