@font-face {
  font-family: "Bazar Medium";
  font-style: normal;
  font-weight: normal;
  src: local("Bazar Medium"),
    url("../fonts/Bazar.woff") format("woff");
}

nav {
  @include background($blue);
  width: 100%;
  height: 90px;
  @include center();
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
  z-index: 2;
}

.nav-container {
  @include center();
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-between;
  .nav-logo {
    @include center();
    color: $cream;
    width: 65%;
    height: 100%;
    font-family: $p-ff;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    img {
      height: 60%;
    }
  }
  .nav-menu {
    display: flex;
    list-style: none;
    text-align: center;
    margin: 0 auto;
    @include background($blue);
  }
  .nav-item {
    margin: 0;
    font-weight: 600;
    cursor: pointer;
    .nav-links {
      font-family: "Bazar Medium";
      text-transform: uppercase;
      font-weight: bold;
      font-size: 1.8rem;
      text-decoration: none;
      padding: 0.5rem 1rem;
      height: 100%;
      color: $cream;
      transition: all ease-in-out 200ms;
      margin-top: 3px;
      @include center();
    }
    button {
      @extend .nav-links;
      color: $orange;
      border: none;
      background: none;
      cursor: pointer;
    }
  }

  .nav-item .active {
    color: $dark-gray;
  }
}

.nav-icon {
  display: none;
}

@media screen and (max-width: 960px) {
  nav {
    position: static;
  }
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 90px;
    left: -110%;
    opacity: 1;
    transition: all 0.5s ease;
  }
  .nav-logo {
    transform: translateX(20px);
  }
  .nav-menu.active {
    @include background($blue);
    width: 100%;
    margin-left: 0;
    left: 0px;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }
  .nav-item .active {
    color: $cream;
    border: none;
  }
  .nav-links {
    padding: 1.5rem;
    width: 100%;
    display: table;
  }

  .nav-icon {
    display: block;
    transform: translate(-200%, 7px);
    font-size: 1.8rem;
    cursor: pointer;
    color: $cream;
  }
}

@media screen and (max-width: 375px) {
  .nav-icon {
    transform: translate(-100%, 7px);
  }
  .nav-logo {
    transform: translateX(40px);
  }
}

@media screen and (min-width: 1600px) {
  .nav-container {
    width: 100%;
  }
}
