@import "./topics";
@import "./follow";

.sidebar-section {
  @include background($orange);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  width: 35%;
  padding-top: 90px;
  position: sticky;
  top: 0;
  right: 0;
}

.sidebar {
  height: 100%;
  width: 100%;
  padding: 1.5em;
  color: $dark-gray;
}

@media screen and (max-width: 960px) {
  .sidebar-section {
    display: none;
  }
}

@media screen and (min-width: 1600px) {
  .sidebar {
    padding-top: 1em;
  }
}
